<nav class="navbar fixed-top navbar-expand-md bg-light navbar-light" style="height:15%">
    <!-- The brand(or icon) of the navbar -->

    <a class="navbar-brand"
      ><img id="logo" src="~/images/OBCB Logo.png" style="height:100px ;"> @*&nbsp;&nbsp;&nbsp;ZZFASHION*@</a><br />

    <!-- Toggle/collapsible Button, also known as hamburger button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#staffNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Links in the navbar, displayed as drop-down list when collapsed -->
    <div class="collapse navbar-collapse" id="staffNavbar">
        <!-- Links that are aligned to the right, ml-auto: left margin auto-adjusted -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <!-- A link for logging out user -->
                <a class="nav-link" asp-controller="Home" asp-action="LogOut">Back</a>
            </li>
        </ul>
    </div>
</nav>


