@{
    ViewData["Title"] = "Account Creation Progress";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="flex-container" align-items="center">
    <a class="btn btn-danger" type="button" asp-area="" asp-controller="Customer" asp-action="Details">View Application Status</a>
</div>
<script src="~/js/custprog.js"></script>